body{
    color: aliceblue
}
.border-right {
    border-right: 1px solid black;
}
.demo-cell {
    background: white;
    border-radius: 5px;
    min-height: 700px;
    margin-bottom: 2%;
   }
.display-6 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
}
.display-7 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2;
    display: inline-block;
    color: dimgray;
}
.typesCount{
    margin-top: 17px;
}
.Marginli {
    margin-left: -30px;
}
.typesCount>ul{
    list-style-type: none;
}
.TypeAccountstl{
    color: dimgrey;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}
.TypeAccountstl>span{
    margin-left: 10px
}
.collapse{
    margin-left: -13px;
}
.well {
    background: #F8F8FA;
    margin-top: 5px;
}
.margSpan{
    margin-left: 10px;
}
.demo-cell > .container{
    margin-top: 80px;
}
.accountArea{
    margin-top: 50px;
}
@media screen and (max-width: 500px) {
	.display-6{
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0;
    }
    .demo-cell > .container{
        margin-top: 18px;
    }
    .accountArea{
        margin-top: 10px;
    }
    .display-7 {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2;
        display: inline-block;
        color: dimgray;
    }
    
  }