<div class="container slider-one-active">
    <div class="row">
        <div class="title">
            Let's open your new accounts!
        </div>
    </div>
    <div class="row">
        <div class="title2">
            It's easy to do and we'll guide you step-by-step.
        </div>
    </div>
    <div class="steps">
        <div class="step step-one">
            <div class="liner"></div>
            <span>CREATE USER ID</span>
        </div>
        <div class="step step-two">
            <div class="liner"></div>
            <span>BUILD PROFILE</span>
        </div>
        <div class="step step-three">
            <div class="liner"></div>
            <span>SET UP ACCOUNT</span>
        </div>
    </div>
    <div class="line">
        <div class="dot-move"></div>
        <div class="dot zero"></div>
        <div class="dot center"></div>
        <div class="dot full"></div>
    </div>
    <div class="row">
        <div>
            <form class="slider-form slider-one">
                <h4>We'll save your information as you go, so you can always come back and finish later.</h4>
                <div class="cont">
                    <!--<span class="title3">You're opening .. accounts</span>
                    <button class="btleft" [routerLink]="['/register-account/step3']">Next Step</button>-->
                    <p class="title3">You're opening .. accounts</p>
                    <div class="row align-items-center">

                        <div class="col-6" style="padding: 0px 0px 0px 56px;">
                            <button class="btn btn-block btn-ghost-primary" [routerLink]="['/register-account/step1']"> Previous</button>
                        </div>
                        <div class="col-6 " style="padding: 0px 10px 0px 20px;">
                            <button class="btn btn-block btn-ghost-primary active" [routerLink]="['/register-account/step3']">Continue</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>