<div class="container slider-one-active" >
        <div class="steps">
            <div class="step step-one">
                <div class="liner"></div>
                <span>CREATE USER ID</span>
            </div>
            <div class="step step-two">
                <div class="liner"></div>
                <span>BUILD PROFILE</span>
            </div>
            <div class="step step-three">
                <div class="liner"></div>
                <span>SET UP ACCOUNT</span>
            </div>
        </div>
        <div class="line">
            <div class="dot-move"></div>
            <div class="dot zero"></div>
            <div class="dot center"></div>
            <div class="dot full"></div>
        </div>
        <div class="row" style="margin-top: -20px ">
            <h1>Create user ID</h1>
        </div>
        <div class="row">
            <h2 style="font-weight: 350">Set up your security questions. We’ll use these to keep your account secure.</h2>
        </div>
        <form [formGroup]="step5Form" (ngSubmit)="nextStep5(step5Form.value)" style="margin-top: 20px">
            <div class="form-group">
                <label for="question1">Question 1</label>
                <select class="form-control" id="question1"
                formControlName="question1" [ngClass]="{'is-invalid': (question1.invalid && question1.dirty) || (question1.invalid && submitted) }">
                    <option value=""></option>
                    <option value="9">In what city were you born?</option>
                    <option value="17">What elementary school did you attend?</option>
                    <option value="16">What high school did you attend?</option>
                    <option value="21">What is the first name and last name of your first boyfriend or girlfriend?</option>
                    <option value="2">What is the name of your first pet?</option>
                    <option value="14">What is your favorite movie?</option>
                    <option value="7">What is your favourite colour?</option>
                    <option value="12">What is your favourite food?</option>
                    <option value="15">What is your favourite song?</option>
                    <option value="3">What is your favourite sport?</option>
                    <option value="18">What is your favourite teacher's name?</option>
                    <option value="23">What is your license plate number?</option>
                    <option value="8">What is your mother's maiden name?</option>
                    <option value="13">What street did you grow up on?</option>
                    <option value="11">What was the make of your first car?</option>
                    <option value="22">What was your favourite place to visit as a child?</option>
                    <option value="19">What was your favourite subject in school?</option>
                    <option value="10">When is your anniversary?</option>
                    <option value="20">Which phone number do you remember most from your childhood?</option>
                    <option value="6">Who is your favourite actor/actress?</option>
                    <option value="5">Who is your favourite musician?</option>
                </select>
            </div>
            <div class="form-group">
                <label for="answer1">Answer</label>
                <input type="text" class="form-control" id="answer1" placeholder="100 character Maximum"
                formControlName="answer1" [ngClass]="{'is-invalid': (answer1.invalid && answer1.dirty) || (answer1.invalid && submitted) }">
            </div>
            <div class="form-group">
                <label for="question2">Question2</label>
                <select class="form-control" id="question2"
                formControlName="question2" [ngClass]="{'is-invalid': (question2.invalid && question2.dirty) || (question2.invalid && submitted) }">
                    <option value=""></option>
                    <option value="9">In what city were you born?</option>
                    <option value="17">What elementary school did you attend?</option>
                    <option value="16">What high school did you attend?</option>
                    <option value="21">What is the first name and last name of your first boyfriend or girlfriend?</option>
                    <option value="2">What is the name of your first pet?</option>
                    <option value="14">What is your favorite movie?</option>
                    <option value="7">What is your favourite colour?</option>
                    <option value="12">What is your favourite food?</option>
                    <option value="15">What is your favourite song?</option>
                    <option value="3">What is your favourite sport?</option>
                    <option value="18">What is your favourite teacher's name?</option>
                    <option value="23">What is your license plate number?</option>
                    <option value="8">What is your mother's maiden name?</option>
                    <option value="13">What street did you grow up on?</option>
                    <option value="11">What was the make of your first car?</option>
                    <option value="22">What was your favourite place to visit as a child?</option>
                    <option value="19">What was your favourite subject in school?</option>
                    <option value="10">When is your anniversary?</option>
                    <option value="20">Which phone number do you remember most from your childhood?</option>
                    <option value="6">Who is your favourite actor/actress?</option>
                    <option value="5">Who is your favourite musician?</option>
                </select>
            </div>
            <div class="form-group">
                <label for="answer2">Answer </label>
                <input type="text" class="form-control" id="answer2" placeholder="100 character Maximum"
                formControlName="answer2" [ngClass]="{'is-invalid': (answer2.invalid && answer2.dirty) || (answer2.invalid && submitted) }">
            </div>
            <div class="row align-items-center" style="	margin: 30px 0px;">
                    <p class="title3">You're opening .. accounts</p>
                </div>
                <div class="cont">
                    <div class="row align-items-center">
                        <div class="col-6" style="padding: 0px 10px 0px 45px; float: none; margin: 0 auto;">
                            <button class="btn btn-block btn-ghost-primary" [routerLink]="['/register-account/step4']"> Previous</button>
                        </div>
                        <div class="col-6 " style="padding: 0px 45px 0px 10px; float: none; margin: 0 auto;">
                            <button class="btn btn-block btn-ghost-primary active" [routerLink]="['/build-profile/home-profile']">Continue</button>
                        </div>
                    </div>
                </div>
            </form>